[submodule "oops-agent-v1"]
	path = oops-agent-v1
	url = git@github.com:oopsla5xx/oops-agent-v1.git
[submodule "oops-api-v1"]
	path = oops-api-v1
	url = git@github.com:oopsla5xx/oops-api-v1.git
[submodule "oops-infra-v1"]
	path = oops-infra-v1
	url = git@github.com:oopsla5xx/oops-infra-v1.git
[submodule "oops-web-v1"]
	path = oops-web-v1
	url = git@github.com:oopsla5xx/oops-web-v1.git
